name: Continuous Integration

on:
  push:
    branches:
      - main
    paths-ignore:
      - '**/*.md'
  pull_request:
    branches:
      - main
    paths-ignore:
      - '**/*.md'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read
  id-token: write
  packages: write

jobs:
  build:
    name: Build and test
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-24.04, windows-2022, macos-14]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - run: git config --global core.autocrlf false
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
          submodules: true

      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: package.json
          registry-url: https://npm.pkg.github.com
          cache: 'npm'

      - name: Install dependencies
        env:
          GITHUB_TOKEN: ${{github.token}}
        run: npm ci

      - name: Run linters
        run: npm run lint

      - name: Build
        run: npm run build

      - name: Unit tests
        run: |
          npm run test:coverage

      - name: Integration tests
        run: |
          npm run test:integration

      - name: Publish coverage report to QLTY
        if: github.repository_owner == 'Open-CMSIS-Pack'
        uses: qltysh/qlty-action/coverage@781c27d0ba52e67907ade4064dff08d1a797212e # v1
        with:
          oidc: true
          files: src/coverage/lcov.info
          add-prefix: src/
