name: Release to GitHub NPM Registry

on:
  release:
    types: [published]

permissions:
  contents: write
  id-token: write
  packages: write
  
jobs:
  publish:
    name: Publish to GitHub NPM Registry
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          egress-policy: audit

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
          submodules: true

      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: package.json
          registry-url: https://npm.pkg.github.com
          package-manager-cache: false

      - name: Install dependencies
        run: npm ci

      - name: Check package.json version matches release tag
        run: |
          PKG_VERSION=$(node -p "require('./package.json').version")
          TAG_VERSION=${GITHUB_REF#refs/tags/v}
          if [ "$PKG_VERSION" != "$TAG_VERSION" ]; then
            echo "Version in package.json ($PKG_VERSION) does not match release tag ($TAG_VERSION)."
            exit 1
          fi

      - name: Publish package
        env:
          NODE_AUTH_TOKEN: ${{github.token}}
        run: npm publish
